<div class="row">


  <app-create class="col-md-4"></app-create>
  <div class="col-md-2 divider">
    <h2 class="chart-title">Imediate Action
      <button mat-raised-button color="warn" (click)="deleteAll()">Delete All People</button>
    </h2>

  </div>
  <app-list class="col-md-6"></app-list>

</div>
<div class="row charts-section">


  <div class="col-md-4 pie-chart" cdkDrag>


    <app-geo-chart></app-geo-chart>


  </div>

  <div class="col-md-4 pie-chart" cdkDrag>

    <app-gender-chart></app-gender-chart>


  </div>


  <div class="col-md-4 pie-chart" cdkDrag>


    <app-experience-age-chart></app-experience-age-chart>


  </div>


</div>
